#AllContent
    background-color: #100e1d
    display: flex
    flex-direction: column

    #principal
        background-color: #1e213a
        height: 100vh
        display: flex
        flex-direction: column
        padding: 2em
        overflow: hidden
        justify-content: space-between
        z-index: 10
        overflow: hidden

        #weatherToday
            display: flex
            position: relative
            justify-content: center
            align-items: center
            z-index: 5

            #background
                opacity: 0.1
                position: absolute

            #imageToday
                width: 50%

        p
            display: flex
            justify-content: center
            align-items: center
            color: #88869d
            font-size: 0.8em

            &:last-child(-1)
                margin-bottom: 0

        #temperature
            color: white
            font-size: 4em
            margin-top: 1em

            span
                font-size: 2rem
                color: #88869d

        #textWeather
            font-size: 2em
            margin-bottom: 2em
            margin-top: 1em
        
        #todayDate
            margin-bottom: 1em

    #secondary
        flex: 1
        padding: 2em 3em
        max-width: 60em
        margin: auto
        height: 100vh
        overflow: auto
        display: flex
        flex-direction: column

        #temperatureFormat
            display: flex
            flex-direction: row
            justify-content: flex-end

            label
                background-color: #585676
                color: white
                border-radius: 100%
                padding: 0.8em
                font-weight: bold
                margin-left: 1em
                cursor: pointer

            input
                display: none

                &:checked + label
                    background-color: white
                    color: #100e1d
        #week
            display: flex
            flex-direction: row
            margin-top: 1em
            flex-wrap: wrap
            justify-content: center

            div
                min-width: 8em
                flex: 0 calc( 100% / 5 - 2em )
                background-color: #1e213a
                color: white
                padding: 1em
                text-align: center
                margin: 1em
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: center
                white-space: nowrap

                img
                    width: 60%
                    margin: 1em

                .temperature
                    display: flex
                    justify-content: space-between
                    padding-top: 1em
                    width: 100%

                    span
                        color: #585676

        #hightlightsTitle
            font-size: 2em
            color: white
            margin-top: 3em

        #hightlights
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            color: white

            div
                flex: 1 45%
                margin: 1em
                background-color: #1e213a
                display: flex
                flex-direction: column
                align-items: center
                padding: 1em
                text-align: center

                .big
                    font-size: 3em
                    margin-top: 0.5em

                div
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: center
                    flex-wrap: wrap
                    width: 100%

                    img
                        background-color: #616475
                        border-radius: 100%
                        padding: 0.5em
                        margin-right: 1em

                    #p50
                        margin-left: auto
                        margin-right: auto

                    #percentage
                        flex: 100%
                        height: 0.5em
                        background-color: white
                        border-radius: 1em
                        margin: 0
                        padding: 0
                        position: relative
                        overflow: hidden

                        div
                            position: absolute
                            top: 0
                            left: 0
                            background-color: #ffec65
                            height: 0.5em
                            margin: 0

    #footer
        color: #585676
        text-align: center
        margin-top: auto
        padding-top: 1em

        a
            color: #9997b1

@media(min-width:750px)
    #AllContent
        flex-direction: row

        #principal
            width: 25em
