<div id="AllContent">
  <div id="principal">
    <Menu></Menu>
    <div id="weatherToday">
      <img id="background" src="assets/Cloud-background.png" alt="background">
      <img id="imageToday" src="assets/Shower.png" alt="">
    </div>
    <p id="temperature">10<span>ºC</span></p>
    <p id="textWeather">Shower</p>
    <p>Today · Fri 5 Jun</p>
    <p> <img class="icon_gray" src="assets/place_black_24dp.svg" alt="Location"> Helsinki</p>
  </div>
  <div id="secondary">2</div>
</div>

<router-outlet></router-outlet>